body {
    background: rgb(7, 8, 70);
    color: white;
    font-size: 23px;
}

div:nth-child(2) {
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200;
    height: 100%;
}


input {
    width: 100%;
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 5px;
    transition: all 200ms;
}

input:focus {
    box-shadow: 0px 0px 10px 3px aqua;
}


button {
    margin-left: 10px;
    padding: 5px;
    border: 2px solid aqua;
    background-color: aliceblue;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    transition: 200ms;

}

button:active {
    background: rgb(255, 234, 114);
    border: 2px solid #000000;
    transform: scale(0.95, 0.95);
}